data_dir = "/srv/http/data-dir"
http_root = "https://path/to/your/ci"
github_username = "xxxx"
github_password = "xxxx"
repos = ["example/repo" ]
fail_labels = [ "NEEDS SQUASHING", "Waiting For Other PR" ]
scripts_dir = "/path/to/directory/containing/build.sh"
port=3000
set_status = true
