### Murdock results

{% if job.state == "passed" %}:heavy_check_mark: [PASSED]{% else %}:x: [FAILED]{% endif %}({{ job.details_url }})

{{ job.commit.sha }} {{ job.commit.message.split('\n')[0] }}

{% if "passed" in job.status and "failed" in job.status and "total" in job.status %}
|  Success  |  Failures  |  Total  |  Runtime  |
| :-------: | :--------: | :-----: | :-------: |
| {{ job.status.passed }} | {{ job.status.failed }} | {{ job.status.total }} | {{ job.runtime_human }} |
{% endif %}

{% if "failed_builds" in job.status and job.status.failed_builds %}

<details><summary><strong>Build failures ({{ job.status.failed_builds | length }})</strong></summary>

| Application | Target |  Toolchain  |  Runtime (s)  |  Worker  |
| ----------- | ------ | :---------: | :-----------: | :------: |
{% for failure in job.status.failed_builds %}
{% if "application" in failure and "target" in failure and "toolchain" in failure and "runtime" in failure and "worker" in failure %}
{% if "more build failures" not in failure.application %}
| [{{ failure.application }}]({{ job.output_url }}/builds/{{ failure.application }}/{{ failure.target }}:{{ failure.toolchain }}.txt) | {{ failure.target }} | {{ failure.toolchain }} | {{ '%0.2f'| format(failure.runtime|float) }} | {{ failure.worker }} |
{% else %}
{% endif %}
{% endif %}
{% endfor %}
{% if "more build failures" not in job.status.failed_builds[-1].application %}
[{{ job.status.failed_builds[-1].application }}]({{ job.details_url }})
{% endif %}

</details>
{% endif %}
{% if "failed_tests" in job.status and job.status.failed_tests %}

<details><summary><strong>Test failures ({{ job.status.failed_tests | length }})</strong></summary>

| Application | Target |  Toolchain  |  Runtime (s)  |  Worker  |
| ----------- | ------ | :---------: | :-----------: | :------: |
{% for failure in job.status.failed_tests %}
{% if "application" in failure and "target" in failure and "toolchain" in failure and "runtime" in failure and "worker" in failure %}
{% if "more test failures" not in failure.application %}
| [{{ failure.application }}]({{ job.output_url }}/tests/{{ failure.application }}/{{ failure.target }}:{{ failure.toolchain }}.txt) | {{ failure.target }} | {{ failure.toolchain }} | {{ '%0.2f'| format(failure.runtime|float) }} | {{ failure.worker }} |
{% endif %}
{% endif %}
{% endfor %}
{% if "more test failures" not in job.status.failed_tests[-1].application %}
[{{ job.status.failed_tests[-1].application }}]({{ job.details_url }})
{% endif %}

</details>
{% endif %}
{% if job.config.pr.comment_artifacts and job.artifacts %}

#### Artifacts
{% for artifact in job.config.pr.comment_artifacts %}
{% if artifact.name in job.artifacts %}
{% if artifact.readable_name %}
- [{{ artifact.readable_name }}]({{ base_url }}/{{ job.http_dir }}/{{ artifact.name }})
{% else %}
- [{{ artifact.name }}]({{ base_url }}/{{ job.http_dir }}/{{ artifact.name }})
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if job.config.pr.comment_footer %}

{{ job.config.pr.comment_footer }}
{% endif %}
